
.contacts-demobutts {
  width: calc(var(--menu-width)*0.8);
  margin: auto;
}

.contacts-demobutts-button {
  width: calc((var( --menu-width) * 0.8) / 8);
}

.contacts-demobutts-long {
  width: calc((var( --menu-width) * 0.8) / 2);
}

.contacts-demobutts-button:hover, 
.contacts-demobutts-button:focus {
  opacity: 0.4;
  transition: 0.3s;
}


.contacts-demobutts-top table {
  border-collapse: collapse;
}
.contacts-demobutts-top table tr {
  height: 14vh;
}

.contacts-demobutts-tglink {
  width: 30vh;
}

.contacts-demobutts-tglink img {
  width: 12vw;
  height: 10vh;
}

.contacts-demobutts-tglink-description {
  width: 70vh;
}

.contacts-demobutts-bottom table {
  border-collapse: collapse;
  width: 50%;
  margin-left: 33%;
  margin-top: 8vh;
}

.contacts-demobutts-soclink {
}

.contacts-demobutts-soclink img {
  height: calc(var(--menu-height)*0.95);
}