.tab-bottomsection {
	position: relative;
	
}

.tab-bottomsection-info {
	width: 90%; 
	margin: auto;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.tab-bottomsection-buttons {
	width: 70%;
  margin: auto;
}

.footer-modal_btn {
/*	background-color: #ffffff;
*/  /*  border: 2px solid white;*/
    border-radius: 10vh;
    border: none;
    color: grey; /*for alt text*/
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    margin-top: 2vh;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    height: 8.4vh;
}

.footer-modal_btn:nth-child(1){
	background-color: black;
}

.footer-modal_btn > img {
	width: 32%;
	margin: auto;
}


.footer-modal_btn-img-active,
.footer-modal_btn:hover > .footer-modal_btn-img,
.footer-active-btn > .footer-modal_btn-img {
	display: none;
}

.footer-modal_btn:hover > .footer-modal_btn-img-active,
.footer-active-btn > .footer-modal_btn-img-active {
	display: block;	
}

.footer-modal_btn:hover, 
.footer-modal_btn:focus,
.footer-modal_btn:active  {
	border: none;
  outline: none;
}

.footer-modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: none; /* Hidden by default */
  overflow: auto;
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 45px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font: normal 105% arial, sans-serif;
  text-align: left;
}


.footer-modal-content {
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.39);
  margin: auto;
  padding: 0;
  position: relative;
  /* height: 95%; */
  width: 65%;
  border-radius: 0px;
  border: 2px solid black;
}

.footer-modal-close {
  color: black;/*
  float: right;*/
  font-size: 28px;
  font-weight: bold;
  padding-right: 6px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.footer-modal-close:hover,
.footer-modal-close:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}


.footer-modal-header {
  /*background-color: rgb(0,0,0);
  color: #ffffff;*/
  background-color: lightblue;
  padding: 2px 14px;
  border-bottom: 2px dotted black;
}

.footer-modal-header h2{
  /*color: #ffffff;*/
  color: black;
  font-weight: bold;
  text-align: center;
}

.footer-modal-body {
  padding: 20px 36px;
  min-height: 60vh;
  width: 90%;
  margin: auto;
}