.player-main {
  display: flex;
  justify-content: center;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  height: 5000px;
  width: 5000px;
}

.player-image {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
}

#player-play-button {
  position: absolute;
  top: 77.5%;
  left: 50%;
  height: 15%;
}

#player-stop-button {
  position: absolute;
  top: 77%;
  left: 66%;
  height: 15%;
}

#player-stop-button:hover {
  position: absolute;
  top: 76.5%;
  left: 65.5%;
  height: 17%;
}

#player-play-button:hover {
  position: absolute;
  top: 77%;
  left: 49.5%;
  height: 17%;
}

#player-volume-control {
  position: absolute;
  top: 71%;
  left: 46%;
  width: 40%;
  height: 5%;
}

#player-volume-line {
  position: absolute;
  top: 30%;
  left: 0%;
  height: 40%;
  width: 100%;
}

#player-volume-dot {
  position: absolute;
  top: 0%;
  left: 90%;
  height: 100%;
}

#player-sound {
  display: none;
}

#player-screen {
  position: absolute;
  top: 51%;
  left: 44%;
  height: 18%;
  width: 43%;
}

#player-screen-text {
  visibility: hidden;
  position: absolute;
  top: 58%;
  left: 47%;
  width: 39%;
}
#container {
position: absolute;
top: 58%;
left: 47%;
width: 39%;
}

@media only screen and (max-aspect-ratio: 3/2) {
  #player-volume-control{
    display: none;
  }

  #player-screen{
    display: none;
  }

  #player-screen-text {
    display: none;
  }

  #player-play-button {
    position: absolute;
    top: 60%;
    left: 44%;
    height: 22%;
  }

  #player-stop-button {
    position: absolute;
    top: 59%;
    left: 66%;
    height: 22%;
  }

  #player-stop-button:hover {
    position: absolute;
    top: 59%;
    left: 66%;
    height: 22%;
  }

  #player-play-button:hover {
    position: absolute;
    top: 60%;
    left: 44%;
    height: 22%;
  }

}
