/* Smartphones portrait --------------- */

@media only screen 
and (max-device-width: 320px)
and (min-aspect-ratio: 2/3)
and (orientation: portrait) {  

  /* player */
  .player {
    height: 50%;
  }
  .player-main {
    margin-top: 0%;
  }
  .player-image {
    width: 78%;
  }
  #player-volume-control {
    display: none;
  }
  #player-play-button {
    position: absolute;
    left: 50%;
    height: 18%;
    top: 63%;    

  }
  #player-stop-button {
    position: absolute;
    left: 65%;
    top: 62%;    
    height: 18%;
  }

  /* title */
  .player-title {
    width: 100%;
    margin-left: -1%;
    margin-top: 3%;
  }
  #player-title-image {
    width: 67%;
    margin: auto;
  }

  /* demobutts */
  .demobutts {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 6%;
  }

  .demobutts-menu-left, .demobutts-menu-right {
    width: 70%;
    margin: auto;
    justify-content: space-around;
    margin-top: 4%;
  }

  .demobutts-menu-center {
    order: 1;
    width: 70%;
    margin: auto;
    margin-top: 4%;
  }

  .demobutts a {
    height: 55px;
  }

  .demobutts-long {
    width: 65%;
    height: 85%;
  }
}

@media only screen 
and (max-device-width: 414px)
and (min-device-width: 320px)
and (orientation: portrait) {  

  /* player */
  .player {
    height: 52%;
  }
  .player-main {
    margin-top: 0%;
  }
  .player-image {
    max-width: 87%;
  }
  #player-volume-control {
    display: none;
  }
  #player-play-button {
    position: absolute;
    left: 48%;
    height: 18%;
    top: 63%;    

  }
  #player-stop-button {
    position: absolute;
    left: 65%;
    top: 62%;    
    height: 18%;
  }


  /* title */
  .player-title {
    width: 100%;
    margin-left: -1%;
    margin-top: 3%;
  }
  #player-title-image {
    width: 82%;
    margin: auto;
  }

  /* demobutts */
  .demobutts {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 6%;
  }

  .demobutts-menu-left, .demobutts-menu-right {
    width: 70%;
    margin: auto;
    justify-content: space-around;
    margin-top: 4%;
  }

  .demobutts-menu-center {
    order: 1;
    width: 70%;
    margin: auto;
    margin-top: 4%;
  }

  .demobutts a {
    max-height: 65px;
  }

  .demobutts-long {
    width: 76%;
    height: 85%;
  }
}

@media only screen 
and (max-device-width: 614px)
and (min-device-width: 415px)
and (orientation: portrait) {  

  /* player */
  .player {
    height: 46%;
  }
  .player-main {
    margin-top: 0%;
  }
  .player-image {
    max-width: 85%;
  }
  #player-volume-control {
    display: none;
  }
  #player-play-button {
    position: absolute;
    left: 48%;
    height: 18%;
    top: 63%;    

  }
  #player-stop-button {
    position: absolute;
    left: 65%;
    top: 62%;    
    height: 18%;
  }


  /* title */
  .player-title {
    width: 100%;
    margin-left: -1%;
    margin-top: 3%;
  }
  #player-title-image {
    width: 82%;
    margin: auto;
  }

  /* demobutts */
  .demobutts {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5%;
  }

  .demobutts-menu-left, .demobutts-menu-right {
    width: 70%;
    margin: auto;
    justify-content: space-around;
    margin-top: 4%;
  }

  .demobutts-menu-center {
    order: 1;
    width: 70%;
    margin: auto;
    margin-top: 5%;
  }

  .demobutts a {
    max-height: 70px;
  }

  .demobutts-long {
    width: 70%;
    height: 87%;
  }
}


@media only screen 
and (max-device-width: 614px)
and (min-device-width: 415px)
and (min-device-height: 800px)
and (orientation: portrait) {  

  /* player */
  .player {
    height: 52%;
  }
  .player-main {
    margin-top: 0%;
  }
  .player-image {
    max-width: 85%;
  }
  #player-volume-control {
    display: none;
  }
  #player-play-button {
    position: absolute;
    left: 48%;
    height: 18%;
    top: 63%;    

  }
  #player-stop-button {
    position: absolute;
    left: 65%;
    top: 62%;    
    height: 18%;
  }


  /* title */
  .player-title {
    width: 100%;
    margin-left: -1%;
    margin-top: 3%;
  }
  #player-title-image {
    width: 82%;
    margin: auto;
  }

  /* demobutts */
  .demobutts {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5%;
  }

  .demobutts-menu-left, .demobutts-menu-right {
    width: 70%;
    margin: auto;
    justify-content: space-around;
    margin-top: 4%;
  }

  .demobutts-menu-center {
    order: 1;
    width: 70%;
    margin: auto;
    margin-top: 5%;
  }

  .demobutts a {
    max-height: 90px;
  }

  .demobutts-long {
    width: 70%;
    height: 87%;
  }
}

/* Smartphone portrait --------------- */
@media only screen 
and (max-device-width: 840px)
and (min-device-width: 615px)
and (orientation: portrait) {

  /* player */
  .player {
    height: 70%;
  }
  .player-main {
   margin-top: 10%;
  }
  .player-image {
    max-width: 77%;
  }
  #player-volume-control {
    width: 33%;
    left: 46%;
  }

  /* title */
  .player-title {
    width: 100%;
    margin-left: -7px;
    margin-top: 2%;
  }
  #player-title-image {
    width: 75%;
    margin: auto;
  }

  /* demobutts */
  .demobutts {
    flex-wrap: wrap;
  }
  .demobutts-menu-left, .demobutts-menu-right {
    width: 35%;
    margin-top: 8%;
    justify-content: space-around;
  }
  .demobutts a {
    height: 90px;
  }

  .demobutts-menu-center {
    order: 1;
    width: 100%;
    margin-top: 3%;
  }
  .demobutts-long {
    width: 70%;
  }
}

/* iPad Pro portrait --------------- */
@media only screen 
and (max-device-width: 1024px)
and (min-device-width: 841px)
and (orientation: portrait) {

  /* player */
  .player {
    height: 70%;
  }
  .player-main {
   margin-top: 10%;
  }
  .player-image {
    max-width: 100%;
  }
  #player-volume-control {
    width: 40%;
  }
  #player-play-button {
    position: absolute;
    left: 48%;
    height: 18%;

  }
  #player-stop-button {
    position: absolute;
    left: 68%;
    height: 18%;
  }

  /* title */
  .player-title {
    width: 100%;
    margin-left: -7px;
    margin-top: 4%;
  }
  #player-title-image {
    width: 95%;
    margin: auto;
  }

  /* demobutts */
  .demobutts {
    flex-wrap: wrap;
  }
  .demobutts-menu-left, .demobutts-menu-right {
    width: 35%;
    margin-top: 8%;
    justify-content: space-around;
  }
  .demobutts a {
    height: 100px;
  }

  .demobutts-menu-center {
    order: 1;
    width: 100%;
    margin-top: 3%;
  }
  .demobutts-long {
    width: 70%;
  }
}

/* Smartphones landscape --------------- */
@media only screen 
and (max-device-height: 414px)
and (min-device-height: 320px)
and (max-device-width: 739px)
and (orientation: landscape) {  

  /* player */
  .player {
    height: 82%;
  }
  .player-main {
    margin-top: 2%;
  }
  .player-image {
    max-width: 37%;
  }
  #player-volume-control {
    width: 15%;
    left: 48%;
  }
  #player-play-button {
    position: absolute;
    left: 50%;
    width: 5%;
  }
  #player-stop-button {
    position: absolute;
    left: 57%;
    top: 60%;
    width: 5%;
  }

  /* title */
  .player-title {
    width: 100%;
    margin-left: -0.5%;
    margin-top: 2%;
  }
  #player-title-image {
    width: 36%;
    margin: auto;
  }

  /* demobutts */
  .demobutts {
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 1%;
    width: 76%;
  }

  .demobutts-menu-left, .demobutts-menu-right {
    width: 60%;
    margin: auto;
    justify-content: space-around;
    margin-top: 0%;
  }

  .demobutts-menu-center {
    order: 0;
    width: 70%;
    margin: auto;
    margin-top: 0%;
  }

  .demobutts a {
    max-height: 46px;
  }

  .demobutts-long {
    width: 90%;
    height: 100%;
  }
}

@media only screen 
and (max-device-height: 600px)
and (min-device-height: 320px)
and (max-device-width: 900px)
and (min-device-width: 740px)
and (orientation: landscape) {  

  /* player */
  .player {
    height: 82%;
  }
  .player-main {
    margin-top: 0%;
  }
  .player-image {
    max-width: 34%;
  }
  #player-volume-control {
    width: 15%;
    left: 48%;
  }
  #player-play-button {
    position: absolute;
    left: 50%;
    width: 5%;
  }
  #player-stop-button {
    position: absolute;
    left: 57%;
    top: 60%;
    width: 5%;
  }

  /* title */
  .player-title {
    width: 100%;
    margin-left: -1%;
    margin-top: 1%;
  }
  #player-title-image {
    max-width: 30%;
    margin: auto;
  }

  /* demobutts */
  .demobutts {
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 1%;
    width: 70%;
  }

  .demobutts-menu-left, .demobutts-menu-right {
    width: 60%;
    margin: auto;
    justify-content: space-around;
    margin-top: 0%;
  }

  .demobutts-menu-center {
    order: 0;
    width: 70%;
    margin: auto;
    margin-top: 0%;
  }

  .demobutts a {
    max-height: 50px;
  }

  .demobutts-long {
    width: 90%;
    height: 95%;
  }
}

/* Tablets landscape --------------- */
@media only screen 
and (max-device-height: 1024px)
and (min-device-height: 601px)
and (max-device-width: 1200px)
and (min-device-width: 900px)
and (orientation: landscape) {  

  /* player */
  .player {
    height: 81%;
  }
  .player-main {
    margin-top: 5%;
  }
  .player-image {
    max-width: 65%;
  }

  #player-volume-control {
    width: 28%;
    left: 46%;
  }
  #player-play-button {
    position: absolute;
    left: 50%;
  }
  #player-stop-button {
    position: absolute;
    left: 62%;
    top: 60%;
  }


  /* title */
  .player-title {
    width: 100%;
    margin-left: -1%;
    margin-top: 2%;
  }
  #player-title-image {
    width: 63%;
    margin: auto;
  }

  /* demobutts */
  .demobutts {
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 4%;
    width: 70%;
  }

  .demobutts-menu-left, .demobutts-menu-right {
    width: 60%;
    margin: auto;
    justify-content: space-around;
    margin-top: 0%;
  }

  .demobutts-menu-center {
    order: 0;
    width: 70%;
    margin: auto;
    margin-top: 0%;
  }

  .demobutts a {
    max-height: 90px;
  }

  .demobutts-long {
    width: 90%;
    height: 95%;
  }
}

/* iPhone Pro  landscape --------------- */
@media only screen 
and (max-device-height: 1110px)
and (min-device-height: 601px)
and (max-device-width: 1400px)
and (min-device-width: 1200px)
and (orientation: landscape) {  

  /* player */
  .player {
    height: 83%;
  }
  .player-main {
    margin-top: 5%;
  }
  .player-image {
    max-width: 90%;
  }
  #player-volume-control {
    width: 36%;
    left: 46%;
  }
  #player-play-button {
    position: absolute;
    left: 50%;
  }
  #player-stop-button {
    position: absolute;
    left: 67%;
    top: 60%;
  }


  /* title */
  .player-title {
    width: 100%;
    margin-left: -1%;
    margin-top: 3.5%;
  }
  #player-title-image {
    width: 87%;
    margin: auto;
  }

  /* demobutts */
  .demobutts {
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 3%;
    width: 70%;
  }

  .demobutts-menu-left, .demobutts-menu-right {
    width: 50%;
    margin: auto;
    justify-content: space-around;
    margin-top: 0%;
  }

  .demobutts-menu-center {
    order: 0;
    width: 70%;
    margin: auto;
    margin-top: 0%;
  }

  .demobutts a {
    height: 100px;
  }

  .demobutts-long {
    width: 90%;
    height: 95%;
  }
}

/* Laptop 1280x950 landscape --------------- */
@media only screen 
and (max-device-height: 1024px)
and (min-device-height: 946px)
and (max-device-width: 1300px)
and (min-device-width: 1200px) {  

  /* player */
  .player {
    height: 80%;
  }
  .player-main {
    margin-top: 10%;
  }
  .player-image {
    max-width: 73%;
  }

  #player-volume-control {
    width: 28%;
    left: 46%;
  }
  #player-play-button {
    position: absolute;
    left: 50%;
  }
  #player-stop-button {
    position: absolute;
    left: 62%;
    top: 60%;
  }


  /* title */
  .player-title {
    width: 100%;
    margin-left: -1%;
    margin-top: 2%;
  }
  #player-title-image {
    width: 70%;
    margin: auto;
  }

  /* demobutts */
  .demobutts {
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 4%;
    width: 70%;
  }

  .demobutts-menu-left, .demobutts-menu-right {
    width: 50%;
    margin: auto;
    justify-content: space-around;
    margin-top: 0%;
  }

  .demobutts-menu-center {
    order: 0;
    width: 70%;
    margin: auto;
    margin-top: 0%;
  }

  .demobutts a {
    max-height: 86px;
  }

  .demobutts-long {
    width: 90%;
    height: 95%;
  }
}
/* Laptop 1280x800 landscape --------------- */
@media only screen 
and (max-device-height: 945px)
and (min-device-height: 780px)
and (max-device-width: 1300px)
and (min-device-width: 1200px) {  

  /* player */
  .player {
    height: 80%;
  }
  .player-main {
    margin-top: 5%;
  }
  .player-image {
    max-width: 67%;
  }

  #player-volume-control {
    width: 28%;
    left: 46%;
  }
  #player-play-button {
    position: absolute;
    left: 50%;
  }
  #player-stop-button {
    position: absolute;
    left: 62%;
    top: 60%;
  }


  /* title */
  .player-title {
    width: 100%;
    margin-left: -1%;
    margin-top: 2%;
  }
  #player-title-image {
    width: 65%;
    margin: auto;
  }

  /* demobutts */
  .demobutts {
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 4%;
    width: 70%;
  }

  .demobutts-menu-left, .demobutts-menu-right {
    width: 50%;
    margin: auto;
    justify-content: space-around;
    margin-top: 0%;
  }

  .demobutts-menu-center {
    order: 0;
    width: 70%;
    margin: auto;
    margin-top: 0%;
  }

  .demobutts a {
    max-height: 86px;
  }

  .demobutts-long {
    width: 90%;
    height: 95%;
  }
}

/* Laptop 1280x720 landscape --------------- */
@media only screen 
and (max-device-height: 779px)
and (min-device-height: 700px)
and (max-device-width: 1300px)
and (min-device-width: 1200px) {  

  /* player */
  .player {
    height: 79%;
  }
  .player-main {
    margin-top: 4%;
  }
  .player-image {
    max-width: 60%;
  }

  #player-volume-control {
    width: 27%;
    left: 46%;
  }
  #player-play-button {
    position: absolute;
    left: 50%;
  }
  #player-stop-button {
    position: absolute;
    left: 62%;
    top: 60%;
  }


  /* title */
  .player-title {
    width: 100%;
    margin-left: -1%;
    margin-top: 2%;
  }
  #player-title-image {
    width: 58%;
    margin: auto;
  }

  /* demobutts */
  .demobutts {
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 4%;
    width: 65%;
  }

  .demobutts-menu-left, .demobutts-menu-right {
    width: 50%;
    margin: auto;
    justify-content: space-around;
    margin-top: 0%;
  }

  .demobutts-menu-center {
    order: 0;
    width: 70%;
    margin: auto;
    margin-top: 0%;
  }

  .demobutts a {
    max-height: 86px;
  }

  .demobutts-long {
    width: 90%;
    height: 95%;
  }
}


