html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  text-align: center;
  -webkit-text-align: center;
  scroll-behavior: smooth;
  overflow-y: scroll;
  max-height: 100%
}

.player {
  text-align: center;
  -webkit-text-align: center;
  position: relative;
  margin: auto;
  max-width: 800px;
  min-width: 300px;
  border: 1px solid white;
  -webkit-border: 1px solid white;
  height: 87%;
}

.demobutts{
  text-align: center;
  -webkit-text-align: center;
  position: relative;
  max-width: 900px;
  min-width: 300px;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

@viewport {
  user-zoom: fixed;
}