html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  text-align: center;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.player {
  text-align: center;
  position: relative;
  margin: auto;
  max-width: 600px;
  min-width: 300px;  
}

.demobutts{
  text-align: center;
  position: relative;
  max-width: 700px;
  min-width: 300px;
  margin: auto;
}
