:root {
  --tab-min-height: 85vh;
}

.tab {
  position: absolute;
  top: 100%;
  left: calc((100% - var(--menu-width)) / 2);
  width: var(--menu-width);
  min-height: var(--tab-min-height);
  /*height: calc(100% - var(--menu-height));*/
  color: rgba(0, 0, 0, 1);
  display: none;
  margin: auto;
  margin-bottom: 20px;
  padding: 0px;
  text-align: left;
/* border-top: 2px solid black;*/
  font: normal 105% arial, sans-serif;
  overflow: visible;
}

.tab-uppersection {
  padding: 100px 70px;
  /*padding-top: var(--menu-height);*/
  border-top: none;
  min-height: calc(var(--tab-min-height)*0.66);
  height: ;
/*  border: 2px solid black;*/
  border-bottom: none;
  overflow: auto;
}

.tab-bottomsection {
  position: absolute;
  width: calc(100% - 0px); /* на всю ширину минус сумму толщины границ*/
  margin-bottom: 3vh;
  border-top: 4px solid black;
  border-image: url('../images/border.png') 150 round round;
  height: calc(var(--tab-min-height)*0.1 - 5px);
}

.tab-anchor {
  visibility: hidden;
  position: absolute;
  top: calc(100% - var(--menu-height));
}


