html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  text-align: center;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.pages{
  max-width: 1200px;
  width: 95%;
  margin: auto;
}

.player {
  text-align: center;
  /*margin: 40px 80px;*/
  height: 80%
  max-width: 500px;
}

.menu button {
  position: relative;
  background-color: inherit;
  cursor: pointer;
  font: normal 105% arial, sans-serif;
  letter-spacing: 0em;
  outline: none;
  padding: 10px;
  text-align: center;
  width: 24%;
  text-transform: lowercase;
  border-bottom: none;
  height: 60px;
  min-width: 120px;
  max-width: 280px;
}

.menu-centered button{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: -2px;
}
.menu .active {
  background-color: white;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid white;
}

.menu button:hover {
  color: #888;
  transition: 0.3s;
}

.tab {
  color: rgba(0, 0, 0, 1);
  display: none;
  margin: auto;
  margin-bottom: 20px;
  padding: 0px;
  text-align: left;
  border-top: 2px solid black;
}

.upperblock{
  margin-top: -2px;
  padding: 15px 15px 15px 30px;
  border-top: none;
}

.bottomblock{
  width: inherit;
  margin-top: 100px;
  border: 2px solid black;
}
